*.js
*.js.map
*.d.ts
!jest.config.js
!.eslintrc.js
!prettier.config.js
!commitlint.config.js
!babel.config.js
!webpack.config.js
node_modules
dist

# CDK asset staging directory
.cdk.staging
cdk.out

# Environment files
*.env
!*.env.example

# IDE
.vscode
.idea

# OS
.DS_Store

doc/